
.input-item {
  display: flex;
  justify-content: flex-start;
  font-size: 0.7em;
  min-width: 0;
}

.input-item > div {
  margin: 0.5em;
  align-self: center;
  overflow-wrap: break-word;
  word-break: break-word;
  min-width: 0;
}

.input-icon {
  color: var(--text-secondary);
}