.toolbar {
  display: flex;
  justify-content: flex-end;
}

.toolbar > div,
.toolbar > label {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  background-color: transparent;
  align-items: center;
  border: none;
  text-decoration: none;
  height: 32px;
  color: var(--text-primary);
}

.toolbar > div:hover,
.toolbar > label:hover {
  background-color: var(--bg-toolbar-btn-hover);
  color: var(--text-primary);
}

.toolbar > div.toolbar-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.toolbar > div.toolbar-disabled:hover {
  background-color: var(--bg-toolbar-btn);
}
