.toolbar {
  display: flex;
  justify-content: flex-end;
}

.toolbar > div {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  background-color: #ffffff;
  align-items: center;
  border: none;
  text-decoration: none;
  height: 32px;
}

.toolbar > div:hover {
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
}