
/* App.css */
.discovery-grid {
  display: flex;
  justify-content: space-between;
}

.discovery-header {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  margin-bottom: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-left: 2em;
  padding-right: 2em;
}
.column > h2 {
  font-size: 1.1em;
}


.line {
  position: absolute;
  height: 1px;
  background: #575757;
}

.item {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #c7c7c7;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
} 

.input-item {
  display: flex;
  justify-content: flex-start;
}

.input-item > div {
  margin: 0.5em;
  align-self: center;
}

.fact-item {
  background-color: #ffe881;
}


.insight-item {
  background-color: #b0f3ff;
}

.recommendation-item {
  background-color: #b0ffba;
}

.add-button {
  margin-top: 1em;
  background-color: #c7c7c7;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 50%;
  font-weight: bolder;
  height: 42px;
  width: 42px;
}

.add-button:hover{
  filter: contrast(1.5);
  cursor: pointer;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.toolbar-button {
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  background-color: #000000;
  align-items: center;
  gap: 8px; /* Space between the icon and text */
  border: none;
  text-decoration: none; /* In case it's a label or link */
}

.toolbar-button:hover {
  background-color: #fffc3f;
  color: rgb(0, 0, 0);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.highlighted {
  box-shadow: 0 0 0 2px #4e4e4e;
  filter: contrast(1.5);
  
}

.link-highlighted {
  /*box-shadow: 0 0 0 1px #000000;*/
}