
/* App.css */
.discovery-grid {
  display: flex;
  justify-content: space-between;
}

.discovery-header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 2em;
  margin-bottom: 1em;
  border-bottom: #c7c7c7 1px dashed;
}

.discovery-details {
  display: block;
  width: 712px;
}

.discovery-details h5 {
  font-size: 0.8em;
  font-weight: normal;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-left: 2em;
  padding-right: 2em;
}
.column > h2 {
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
}

.line {
  position: absolute;
  height: 1px;
  background: #575757;
  z-index: 1;
}

.item {
  padding: 0.5em;
  background-color: #c7c7c7;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  z-index: 2;
  position: relative;
  display: flow-root;
  min-height: 24px;
} 
.item:hover {
  box-shadow: 0 0 0 2px #d400ff;
}

.add-button {
  margin-top: 1em;
  border: none;
  border-radius: 50%;
  font-weight: bolder;
  background-color: #c7c7c7;
  height: 42px;
  width: 42px;
}

.add-button:hover{
  filter: contrast(1.4);
  cursor: pointer;
  box-shadow: 0 0 0 2px #4e4e4e;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.highlighted {
  box-shadow: 0 0 0 2px #4e4e4e;
  filter: contrast(1.4);
  
}

.wrapper {
  position: relative;
  border-radius: 10px;
  margin: 5px;
  min-height: 36px;
  width: 100%;
}

.wrapper-item-toolbar {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #000000;
  position: absolute;
  background: #ffffff;
  z-index: 2;
  top: 2px;
  right: 2px;
  border-radius: 16px;
  border: none;
  opacity: 0.5;
}

.wrapper-item-toolbar > div {
  cursor: pointer;
  border-radius: 16px;
  padding: 6px 6px;
}

.wrapper-item-toolbar:hover{
  opacity: 1;
}

button {
  margin-right: 0.5em;
}