
/* App.css */
.discovery-grid {
  display: flex;
  justify-content: space-between;
}

.discovery-header {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  margin-bottom: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-left: 2em;
  padding-right: 2em;
}


.line {
  position: absolute;
  height: 1px;
  background: #575757;
}

.item {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #c7c7c7;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8em;
} 

.fact-item {
  background-color: #ffe881;
}

.insight-item {
  background-color: #b0f3ff;
}

.recommendation-item {
  background-color: #b0ffba;
}

.add-button {
  margin-top: 1em;
  background-color: #c7c7c7;
  padding: 0.7em;
  border-style: none;
  border-radius: 2em;
}

.add-button:hover{
  background-color: #f1f086;
  cursor: pointer;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.toolbar-button {
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  background-color: #000000;
  align-items: center;
  gap: 8px; /* Space between the icon and text */
  border: none;
  text-decoration: none; /* In case it's a label or link */
}

.toolbar-button:hover {
  background-color: #fffc3f;
  color: rgb(0, 0, 0);
}

