body {
  margin: 0;
  font-family: Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

button, input, select, textarea {
  font: inherit;
  font-size: small;
}